demo.gif        export-ignore

.gitignore      export-ignore
.gitattributes  export-ignore
phpunit.xml     export-ignore

/tests          export-ignore
/.github        export-ignore
/database       export-ignore
