parameters:
	ignoreErrors:
		-
			message: '#^Trait Octopy\\Impersonate\\Concerns\\HasImpersonation is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/HasImpersonation.php

		-
			message: '#^Property Octopy\\Impersonate\\Http\\Middleware\\ImpersonateMiddleware\:\:\$excepted \(array\<string\>\) does not accept array\<mixed\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Http/Middleware/ImpersonateMiddleware.php

		-
			message: '#^Call to function is_object\(\) with Illuminate\\Database\\Eloquent\\Model will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Http/Resources/ImpersonateCollection.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:filter\(\) expects \(callable\(mixed, int\|string\)\: bool\)\|null, Closure\(Octopy\\Impersonate\\Http\\Resources\\ImpersonateResource\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Resources/ImpersonateCollection.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Http/Resources/ImpersonateCollection.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Http/Resources/ImpersonateCollection.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Database\\Eloquent\\Model and ''getKey'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Http/Resources/ImpersonateResource.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/ResponseModifier.php

		-
			message: '#^Call to function is_array\(\) with array\<string, class\-string\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Impersonate.php

		-
			message: '#^Parameter \#2 \$haystack of function in_array expects array, array\<string, class\-string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Impersonate.php

		-
			message: '#^Call to function is_array\(\) with array\<string, string\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Repository.php

		-
			message: '#^Generic type Illuminate\\Contracts\\Pagination\\Paginator\<Illuminate\\Database\\Eloquent\\Model\> in PHPDoc tag @return does not specify all template types of interface Illuminate\\Contracts\\Pagination\\Paginator\: TKey, TValue$#'
			identifier: generics.lessTypes
			count: 1
			path: src/Repository.php

		-
			message: '#^Type Illuminate\\Database\\Eloquent\\Model in generic type Illuminate\\Contracts\\Pagination\\Paginator\<Illuminate\\Database\\Eloquent\\Model\> in PHPDoc tag @return is not subtype of template type TKey of \(int\|string\) of interface Illuminate\\Contracts\\Pagination\\Paginator\.$#'
			identifier: generics.notSubtype
			count: 1
			path: src/Repository.php
