includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    ignoreErrors:
        - identifier: trait.unused
          path: src/Concerns/HasImpersonation.php

    paths:
        - src/

    # Level 9 is the highest level
    level: 9
