<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Laravel Impersonate Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_KEY" value="base64:TPU8l48gBqreA4fKX4uW7XCnmjQHouH+ZYqKyMGlbio="/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="IMPERSONATE_ENABLED" value="true"/>
    </php>
</phpunit>
