@import "~select2";

// TODO : Optimize this file

.impersonate {
    &-wrapper {
        color: #526484;
        font-family: "DM Sans", sans-serif;
        position: fixed;
        bottom: 40px;
        right: 20px;
        min-width: 58px;
        border-radius: 34px;
        background: #FFFFFF;
        font-size: .8em !important;

        &-active {
            border-radius: 5px 5px 5px 5px !important;
        }

        &-non-active {
            border-radius: 5px 34px 5px 5px !important;
        }
    }

    &-border {
        border: 1px solid #526484;
    }

    &-content {
        vertical-align: middle;
        padding: 10px 65px 3px 10px;
        height: 55px; // 10px or 130px
        width: 350px;
        display: none;
        visibility: hidden;

        &-toggled {
            display: block;
            visibility: visible;
        }

        &-active {
            height: 130px;
            padding: 10px 10px 3px 10px;
        }

        &-non-active {
            height: 55px;
            padding: 10px 65px 3px 10px;
        }

        & > select.impersonate-select + .select2-container {
            width: 100% !important;
        }
    }

    &-info {
        font-weight: bolder;
        letter-spacing: .5px;
        font-size: 90%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    &-footer {
        position: relative;
        margin-top: 12px;
        font-size: 90%;

        &-logout {
            width: 50%;

            & > a {
                color: #329FB9;
                font-weight: bolder;
                text-decoration: none;
            }
        }


        &-version {
            width: 50%;
            position: absolute;
            top: 0;
            right: 60px;
            bottom: 0;
            text-align: right;
            font-size: 95%;

            & > a {
                color: #329FB9;
                font-weight: bolder;
                text-decoration: none;
            }
        }
    }

    &-toggle {
        position: absolute;
        width: 56px;
        height: 56px;
        background: rgb(58, 144, 162);
        background: linear-gradient(100deg, rgba(58, 144, 162, 1) 0%, rgba(49, 173, 199, 1) 48%, rgba(14, 178, 211, 1) 72%);
        border: 1px solid #526484;
        border-radius: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        float: right;

        margin-left: auto;
        margin-right: 0;

        &-active {
            border-bottom-right-radius: 5px;
            bottom: -1px;
            right: -1px;
            background: rgb(131, 58, 180);
            background: linear-gradient(190deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 68%, rgba(258, 176, 69, 1) 96%);
        }

        & img {
            max-width: 85%;
            max-height: 85%;
            transition: transform 0.8s ease-in-out;
            -webkit-transition: -webkit-transform 0.8s ease-in-out;
        }
    }

    &-animate {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

@import "select2";
