@import "~select2";

// TODO : Optimize this file

.impersonate {
    &-wrapper {
        background: #FFFFFF;
        border-radius: 34px;
        bottom: 40px;
        color: #526484;
        font-family: "DM Sans", sans-serif;
        font-size: .8em !important;
        min-width: 58px;
        position: fixed;
        right: 40px;

        &-active {
            border-radius: 5px 5px 5px 5px !important;
        }

        &-non-active {
            border-radius: 5px 34px 34px 5px !important;
        }
    }

    &-border {
        border: 1px solid #DBDFEA;
        bottom: 39px;
        right: 39px;
    }

    &-content {
        display: none;
        height: 55px; // 10px or 130px
        padding: 10px 65px 3px 10px;
        vertical-align: middle;
        visibility: hidden;
        width: 350px;

        &-toggled {
            display: block;
            visibility: visible;
        }

        &-active {
            height: 130px;
            padding: 10px 10px 3px 10px;
        }

        &-non-active {
            height: 55px;
            padding: 10px 65px 3px 10px;
        }
    }

    &-info {
        font-weight: bolder;
        letter-spacing: .5px;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    &-footer {
        font-size: 95%;
        margin-top: 10px;
        position: relative;

        &-logout {
            width: 50%;

            & > a {
                color: #329FB9;
                font-weight: bolder;
                text-decoration: none;

                &:hover {
                    text-shadow: #DBDFEA 1px 1px 1px;
                }
            }
        }

        &-version {
            bottom: 0;
            font-size: 90%;
            position: absolute;
            right: 60px;
            text-align: right;
            top: 0;
            width: 50%;

            & > a {
                color: #329FB9;
                font-weight: bolder;
                text-decoration: none;

                &:hover {
                    text-shadow: #DBDFEA 1px 1px 1px;
                }
            }
        }
    }

    &-toggle {
        background: rgb(58, 144, 162);
        background: linear-gradient(100deg, rgba(58, 144, 162, 1) 0%, rgba(49, 173, 199, 1) 48%, rgba(14, 178, 211, 1) 72%);
        border: 1px solid #DBDFEA;
        border-radius: 50%;
        bottom: -1px;
        float: right;
        height: 56px;
        left: 0;
        margin-left: auto;
        margin-right: 0;
        position: absolute;

        right: -1px;
        width: 56px;

        &-active {
            background-image: linear-gradient(to right bottom, #329fb9, #3ca2c4, #4aa4ce, #5aa6d7, #6ca7df, #6bafe7, #6ab7f0, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
            border-bottom-right-radius: 5px;
        }

        & img {
            max-height: 85%;
            max-width: 85%;
            -webkit-transition: -webkit-transform 0.8s ease-in-out;
            transition: transform 0.8s ease-in-out;
        }
    }

    &-animate {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

@import "resources/sass/select";
