.select2-container--impersonate {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    vertical-align: middle;

    &.select2-container {
        &--below {
            &.select2-container--open .select2-selection--single {
                border-radius: 4px 4px 0 0;
            }
        }

        &--above {
            &.select2-container--open .select2-selection--single {
                border-radius: 0 0 4px 4px;
            }
        }

        &--open {
            .select2-dropdown {
                border-color: #DBDFEA;
                left: 0;
            }

            .select2-selection--single {
                border-color: #DBDFEA !important;
            }
        }

        &--disabled {
            .select2-selection--single {
                background-color: rgba(219, 223, 234, 0.3);
                border-color: #DBDFEA;
                cursor: default;
            }

            .select2-selection__choice__remove {
                display: none;
            }

            .select2-selection--single .select2-selection__clear {
                display: none;
            }
        }
    }

    .select2 {

        &-hidden-accessible {
            border: 0 !important;
            clip: rect(0 0 0 0) !important;
            -webkit-clip-path: inset(50%) !important;
            clip-path: inset(50%) !important;
            height: 1px !important;
            overflow: hidden !important;
            padding: 0 !important;
            position: absolute !important;
            white-space: nowrap !important;
            width: 1px !important;
        }

        &-dropdown {
            background-color: #FFFFFF;
            border: 1px solid #DBDFEA;
            border-radius: 4px;
            box-shadow: none;
            display: block;
            font-family: "DM Sans", sans-serif;
            font-size: 13px;
            font-weight: 400;
            padding: 6px;
            position: absolute;
            z-index: 1051;

            &--below {
                border-radius: 0 0 4px 4px;
                margin-top: -1px;
            }

            &--above {
                border-radius: 4px 4px 0 0;
                margin-top: 1px;
            }
        }

        &-selection--single {
            background-color: #FFFFFF;
            border: 1px solid #DBDFEA;
            border-radius: 4px;

            box-shadow: none;
            box-sizing: border-box;
            cursor: pointer;
            display: block;

            font-family: "DM Sans", sans-serif;
            font-size: 13px;
            font-weight: 400;
            height: calc(2.125rem + 2px);
            transition: all 0.3s;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;

            .select2-selection__rendered {
                display: block;
                overflow: hidden;
                padding-left: 8px;
                padding-right: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .select2-selection__clear {
                position: relative;
            }

            &:focus {
                border-color: #329FB9;
                box-shadow: 0 0 0 3px rgb(219, 248, 255);
                outline: none;
            }

            .select2-selection__rendered {
                color: #526484;
                line-height: 1.25rem;
                padding: 0.4375rem calc(2.125rem + 2px) 0.4375rem 1rem;

                &:focus {
                    outline: none;
                }
            }

            .select2-selection__clear {
                cursor: pointer;
                float: right;
                font-weight: bold;
            }

            .select2-selection__placeholder {
                color: #526484;
            }

            .select2-selection__arrow {
                align-items: center;
                display: flex;
                height: calc(2.125rem + 2px);
                justify-content: center;
                position: absolute;
                right: 0;
                top: 0;
                width: calc(2.125rem + 2px);

                b {
                    display: none;
                }
            }
        }

        &-search--inline {
            .select2-search__field {
                -webkit-appearance: textfield;
                background: transparent;
                border: none;
                box-shadow: none;
                box-sizing: border-box;

                font-size: 100%;
                margin-top: 5px;
                outline: 0;
                padding: 0;

                &::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                }
            }
        }

        &-search--dropdown {
            display: block;
            padding: 0;

            .select2-search__field {
                border: 1px solid #DBDFEA;
                border-radius: 4px;
                color: #526484;
                margin-bottom: 6px;
                padding: 0.375rem 0.75rem;
                width: 100%;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: #526484;
                }

                &::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                }
            }
        }

        &-results > .select2-results__options {
            max-height: 210px;
            overflow-y: auto;
        }

        &-results {
            display: block;

            &__options {
                border-radius: 4px 4px;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            &__option {
                border-radius: 4px;
                color: #526484;
                padding: 0.375rem 0.75rem;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                user-select: none;

                &:not(:last-child) {
                    margin-bottom: 0.125rem;
                }

                &__option[aria-selected] {
                    cursor: pointer;
                }

                &[role=group] {
                    padding: 0;
                }

                &[aria-disabled=true] {
                    color: rgba(128, 148, 174, 0.7);
                }

                &[aria-selected=true] {
                    background: rgb(58, 144, 162);
                    background: linear-gradient(270deg, rgba(58, 144, 162, 1) 0%, rgba(49, 173, 199, 1) 48%, rgba(14, 178, 211, 1) 72%);
                    color: #FFFFFF;
                }

                &--highlighted[aria-selected] {
                    background: rgb(58, 144, 162);
                    background: linear-gradient(270deg, rgba(58, 144, 162, 1) 0%, rgba(49, 173, 199, 1) 48%, rgba(14, 178, 211, 1) 72%);
                    color: #FFFFFF;
                }

                .select2-results__option {
                    padding-left: 1em;

                    .select2-results__group {
                        padding-left: 0;
                    }

                    .select2-results__option {
                        margin-left: -1em;
                        padding-left: 2em;

                        .select2-results__option {
                            margin-left: -2em;
                            padding-left: 3em;
                        }
                    }
                }
            }
        }

        &-results__group {
            cursor: default;
            display: block;
            padding: 6px;
        }

        &-close-mask {
            background-color: #FFFFFF;
            border: 0;
            display: block;
            filter: alpha(opacity=0);
            height: auto;
            left: 0;
            margin: 0;
            min-height: 100%;
            min-width: 100%;
            opacity: 0;
            padding: 0;
            position: fixed;
            top: 0;
            width: auto;
            z-index: 99;
        }
    }

}
