@import '../../node_modules/tail.select/css/default/tail.select-light.css';

._impersonate {
    bottom      : 30px;
    color       : #101418;
    font-family : 'Roboto', sans-serif !important;
    font-size   : 14px !important;
    position    : fixed;
    right       : 30px;
    z-index     : 99999;

    &-btn {
        background    : #23272B;
        border-radius : 50%;
        color         : #FFFFFF;
        height        : 40px;
        line-height   : 40px;
        position      : relative;
        text-align    : center;
        width         : 40px;

        &-has-signed {
            background : rgba(50, 159, 185, 0.8);
            border     : 1px solid #101418;
        }

        img {
            bottom   : 0;
            left     : 0;
            margin   : auto;
            position : absolute;
            right    : 0;
            top      : 0;
            width    : 74%;
        }
    }

    &-select {
        width : 100%;
    }

    &-interface {
        bottom   : 8px;
        position : absolute;
        right    : 50px;

        &-has-signed {
            background    : #FFFFFF;
            border        : 1px solid #CECECE;
            border-radius : 5px;
            bottom        : 0;
            box-shadow    : 0 1px 1px rgba(0, 0, 0, 0.1);
            padding       : 10px;
            width         : 400px;
        }

        td {
            padding : 4px;
        }
    }

    &-info-line {
        font-weight   : bolder;
        margin-bottom : 5px;
    }

    &-signout {
        margin-top : 7px;
    }

    &-signout a {
        color           : #329FB9;

        font-size       : 14px !important;
        font-weight     : bolder;
        text-decoration : none;
    }

    &-bold {
        font-weight : bold;
    }

    &-hidden {
        display : none;
    }
}

.tail-select .select-label {
    font-weight : bolder;
}

.tail-select:hover .select-label, .tail-select.idle .select-label, .tail-select.active .select-label {
    -webkit-box-shadow : 0 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px 1px #329FB9 !important;
    box-shadow         : 0 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px 1px #329FB9 !important;
    z-index            : 25;
}

.tail-select.active .select-label:before, .tail-select:hover .select-label:before, .tail-select.idle .select-label:before {
    border-color : #329FB9 !important;
}

.tail-select.active .select-label:before {
    background-color : #329FB9 !important;
}

.tail-select:hover .select-label:after, .tail-select.idle .select-label:after {
    border-top-color : #329FB9 !important;
}

.tail-select.active .select-label:after {
    border-top-color : #FFFFFF !important;
}

.tail-select.active .select-label:before {
    background-color : #3C82E6;
    border-color     : #000000;
    opacity          : 1;
}

.tail-select .select-dropdown ul li.dropdown-option.selected, .tail-select input[type=text]:focus {
    color   : #329FB9 !important;
    outline : none 0;
}
